body {
    font-family: "Open Sans", sans-serif;
    /*font-family: "Raleway", sans-serif;*/
    padding:0px;
    margin:0px;
    overflow-x: hidden;
    background-color: white;
    color:white;
}

h1,h2,h3,h4,h5,h6,a {
  font-family: "Raleway", sans-serif;
}

/* Navbar*/

.nav-custom{
   background: linear-gradient(to bottom,#2c3e50, #1ABC9C);
}

.navbar-brand i,a{
  padding: 5px;
}

.nav-custom .navbar-brand, .nav-custom .nav-link {
    color: #ffffff; 
    font-family: "Raleway", sans-serif;
  }
  .nav-custom .nav-link:hover{
    color: black; /* black on hover */
    background-color:white;
    border-radius: 5px;   
  }
  .nav-custom .navbar-brand:hover{
    background-color:white;
    color: black; /* black on hover */
    border-radius: 5px;
 }

 .navbar-nav .nav-item .nav-link i{
    padding: 5px;
 }

 /*banner*/

 .banner {
    background: url(./images/banner-image.jpg) no-repeat center center/cover;
    /*background: url(/images/background-test.jpg) no-repeat center center/cover;*/
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    overflow: hidden;
    opacity: 0.8;
}


.banner-content {
    background-color:#1ABC9C;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 10px black;
    /*margin-top: 60px;*/
    opacity:0.9;

}

.banner h1 {
    font-size: 4em;
    margin:0px;
}

.banner h2 {
    font-size: 1.5em;
    margin: 30px 20px;
}

.banner h2 span{
    color:white;
    padding-bottom: 1px;
    letter-spacing: 2px;
    border-bottom: 2px solid #0f0f0f;
    display: inline-block;
  }






/*about me*/

.about-content{
    width: 100%;
    /*height: 100%;*/
    overflow: hidden;
    padding: 50px 0px;
}
.about-content p{
    text-align: justify;
}
.about-content h3{
  text-align:center;
}
#mypic{
    width: 150px; 
    height: 150px; 
    top: -50px;
    /*position: absolute; */
    position:relative;
    left: 50%; 
    transform: translateX(-50%);
    display:block;
}
.about-image{
    width: auto;
    height:400px;
    background-color: #2c3e50;
    margin:10px auto;
    display:block;
   /* margin-bottom: 20px;
    margin-top: 60px; */
    align-content: justify;
    border-radius: 4px;
}

.about-text{
    text-align:justify;
    padding: 10px;
    color: white;
}


.social-links a {
    /*width: 60px; /* set width to 40px */
    /*height: 60px;  /* set height to 40px */
    font-size: 25px;
    margin: 5px; /*  5px margin around each social link */
    border-radius: 10%;
    background: #E26274;
    color: white;
    padding: 5px;
    position:relative;
  } 

  .social-links a:hover{
    background-color:black;
    color:white;
  }

  .about-title{
    padding-top: 50px;
  }
 
/* Skills*/
.skill-section{
 background-color: #2c3e50;
 color:white;
 /*height: 100vh;*/
 overflow-y: auto;
 padding-bottom: 35px;
}

.skill-master-div{
  margin-top: 70px;
 /* background-color: #E26274;*/
}


.skill-left-content i{
  color:#E26274;
  font-size: 30px;
  padding-right:10px;
}
.skill-left-content p{
  padding-left: 40px !important;
  padding-right: 40px;

} 


.progress-label {
  /*float: left;*/
  font-size: 15px;
  font-weight: bold;
  text-align:center;
  padding:5px;
  opacity: 0.7;
  border-right:2px solid black;
  color:black;
}
.progress{
height: 40px !important;
}
.progress-bar{
 font-weight:bold;
 font-size: 15px;
 color:#2c3e50 !important;
}


/*    Resume section*/

.resume-section{
  background-color:#fff;
}
.resume-section h1{
  color:black;
  padding-bottom:30px;
  text-align:center;
}

.resume-section .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050d18;
}

.resume-section .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #1f5297;
  position: relative;
}

.resume-section .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  color: #050d18;
  margin-bottom: 10px;
}

.resume-section .resume-item h5 {
  font-size: 16px;
  background: #F9EC7E;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume-section .resume-item ul {
  padding-left: 20px;
}

.resume-section  .resume-item ul li {
  padding-bottom: 10px;
}

.resume-section .resume-item:last-child {
  padding-bottom: 0;
}

.resume-section .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background:#F9EC7E;
  border: 2px solid #1f5297;
}

/* projects*/

.projects-section{
  background-color: #1ABC9C;
  overflow-y: auto;
  overflow:hidden;
}

.card{
  margin-bottom:30px;
  
  box-shadow: 0 10px 10px -2px #1f5297;
}
.card-img-top { 
  object-fit: cover; /* to maintain aspect ratio */
  height: 200px;
}

.card-body{
  text-align: center;
}

/*Contact*/

.contact-section{
  background: url(./images/contact-background.jpg) no-repeat center center/cover;
  color:white;
  overflow-y:auto;
  overflow: hidden;
}
.contact-section i{
  padding:10px;
}

#contact-form{
  opacity:0.8;
  background: linear-gradient(to right,#2c3e50, #1ABC9C);
  padding: 10px;
  margin: 40px 0px;
  border-radius: 4px;
}

#message{
  height: 210px;
  overflow-y:auto;
  resize: vertical;
}



/* Footer*/
#footer{
  background: linear-gradient(to bottom,#2c3e50, #1ABC9C);
  height: 100px;
  width:100%;
  text-align: center;
  padding: 20px;
  color: white;
  font-size: 17px;
  overflow:hidden;
}